.prod
{
	margin-left: 1100px;
	margin-top: 50px;
	height: 441px;
	width:  505px;

	text-align: center;
	background-image: url("../images/solution3.png");
}



.content{
	width: 1000px;
	float: left;
	height: 550px;
	margin: 50px;
	font-size: 35px;
	text-align: center;
	//background-color: #181126;
	background-image: url("../images/bgt.png");
}
