body
{
	//background-color: #303030;
	color: #ffffff;
	font-size: 20px;
	margin: 0 !important;
	background-image: url("../images/bgimage.jpg");
}

.wrapper
{
	width: 100%;
	
}

.header
{
    width: 100%;
    padding: 30px 0; // tylko 40 px w pinonie ;)	
}

.logo
{
	width: 470px;
	font-size: 46px;
	border: 1px solid #ffffff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: #01123D;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

.square
{
	margin: 50px;
	width: 33%;
	float: left;
	//background-color: #c34f4f;
	
}

.tile1
{
	margin-top: 5px;
	margin-left: 20px;
	width: 500px;
	height: 70px;
	background-color: #757575;
	float: left;
	text-align: center;
} 

.tile2
{
	margin: 20px;
	width: 230px;
	height: 142px;
	//background-color: #252525;
	background-image: url("../images/texas.png");
	float: left;
	text-align: center;
} 

.tile3
{
	margin: 20px;
	width: 230px;
	height: 142px;
	background-image: url("../images/arduino.png");
	float: left;
	text-align: center;
} 

.tile4
{
	margin: 20px;
	width: 230px;
	height: 142px;
	//background-color: #252525;
	background-image: url("../images/paypal.png");
	float: left;
	text-align: center;
} 

.clock 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ff0000;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

#MyClockDisplay
{
	position: absolute;
    top: 55%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    color: #a35700;
    font-size: 90px;
    font-family: Orbitron;
	font-weight: bold;
    letter-spacing: 7px;
	background-color:rgb(0,0,0,0.8);
	//border: 8px solid white;
    border-radius: 50px;
}



.tile5
{
	margin: 20px;
	width: 230px;
	height: 142px;
	//background-color: #252525;
	background-image: url("../images/spacex.png");
	float: left;
	text-align: center;
} 

.content{
	 font-style: italic;
	width: 1000px;
	height: 230px;
	margin-left: 700px;
	//margin-top: 10px;
	//text-align: justify;
	text-align: center;
	font-size: 40px;
	//background-color: #262626;
	//padding-top: 100px;
}

.socials
{
	//margin-top: 240px;
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 70px;
	font-size: 40px;
	text-align: center;
	background-color: #292929;
}

.socials:hover
{
	background-color: #222222;
	
}

.footer
{
	background-color: #222222;
	height: 30px;
	text-align: center;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
	
}

ol> li:first-child
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b; 
	border-left: 1px dashed #751b1b; 
}

ol > li:hover
{
    background-color: #8a1f5e; 
	
}

/*moje*/

form {
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
#p1{
  float: right;
  width: 10%;
  margin-right:10px;
}
#p2{
  float: right;
  width: 10%;
  margin-right:10px;
  background-color: #ff0000;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

@media screen and (max-width: 3000px) {
  span.psw {
    display: block;
    float: none;
  }
.cancelbtn {
    width: 100%;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 40%; 
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}