* {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form {
		margin: 0 auto;
		width: 800px;
	}
.form label{
		display: inline-block;
		text-align: right;
		float: left;
	}
.form input{
		display: inline-block;
		text-align: left;
		float: right;
	}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  opacity: 0.8;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


