body
{
	//background-color: #303030;
	color: #ffffff;
	font-size: 20px;
	margin: 0 !important;
	background-image: url("../images/bgimage.jpg");
}

.wrapper
{
	width: 100%;
	
}

.header
{
    width: 100%;
    padding: 30px 0; // tylko 40 px w pinonie ;)	
}

.logo
{
	width: 470px;
	font-size: 46px;
	border: 1px solid #ffffff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nav
{
	width: 100%;
	padding: 10px 0;
	background-color: #01123D;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

.proud
{
	margin: 50px;
	height: 470px;
	//margin-bottom: 20px;
	width: 800px;
	float: left;
	text-align: center;
	background-color: #10182C;
	//background-image: url("../images/bg12.png");
}

.picture{
	width: 280px;
	height: 323px;
	margin-left: 75px;
	margin-top: 10px;
	float: left;
	background-image: url("../images/dawid.jpg");
}

.picture1{
	width: 280px;
	height: 323px;
	margin-left: 75px;
	margin-top: 10px;
	float: left;
	background-image: url("../images/karol.jpg");
}

.back{
	width: 1900px;
	//height: 400px;
	//margin-left: 870px;
	//margin-top: 50px;
	margin: 50px;
	font-size: 30px;
	background-color: rgb(68, 52, 50,0.95);
	//background-image: url("../images/bg02.png");
	//text-align: center;
}

.socials
{
	margin-top: 255px;
	width: 100%;
	height: 70px;
	font-size: 40px;
	text-align: center;
	background-color: #292929;
}

.socials:hover
{
	background-color: #222222;
	
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
	
}

ol> li:first-child
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b; 
	border-left: 1px dashed #751b1b; 
}

ol > li:hover
{
    background-color: #8a1f5e; 
	
}
/*moje*/

form {
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#p4{
  float: right;
  width: 20%;
  padding: 10px 15px;
 // margin-right:10px;
  margin: 0;
  margin-right: 900px;
  //left:600px;
  background-color: #e68a00;
  font-size:20px;
  border-radius: 12px;
  //display:inline-block;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#p4:active {
  background-color: #e68a00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#p5{
  float: right;
  width: 20%;
  padding: 10px 15px;
 // margin-right:10px;
  margin: 0;
  margin-right: 900px;
  //left:600px;
  background-color: #ed0000;
  font-size:20px;
  border-radius: 12px;
  //display:inline-block;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#p5:active {
  background-color: #ed0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#p7
{
 float: left;
 width: 10%;
 margin-left:10px;
 background-color: rgb(0, 128, 128,0.95);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}
#p8
{
 float: left;
 width: 10%;
 margin-left:10px;
 background-color: rgb(128, 0, 58,0.95);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

.SMdata
{
  font-size: 50px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
#p1{
  float: right;
  width: 10%;
  margin-right:10px;
}

#p2{
  float: right;
  width: 10%;
  margin-right:10px;
  background-color: #ff0000;
}
#p5
{
 float: left;
 width: 10%;
 margin-left:10px;
 background-color: rgb(0, 128, 128,0.95);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}
#p6
{
 float: left;
 width: 10%;
 margin-left:10px;
 background-color: rgb(128, 0, 58,0.95);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}

.SMdata
{
  font-size: 50px;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

@media screen and (max-width: 3000px) {
  span.psw {
    display: block;
    float: none;
  }
.cancelbtn {
    width: 100%;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 40%; 
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/*od tego miejsca logo */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
}
.hoja {
  color: #dcdce2;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-left: -140px;
  margin-top: -140px;
  width: 380px;
  height: 380px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 90px;
  line-height: 380px;
  -webkit-font-smoothing: antialiased;
}
.hoja:after,
.hoja:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.hoja:after {
  box-shadow: inset 0 17.5px 0 rgba(250, 250, 0, 0.6), inset 17.5px 0 0 rgba(250, 200, 0, 0.6), inset 0 -17.5px 0 rgba(250, 150, 0, 0.6), inset -17.5px 0 0 rgba(250, 100, 0, 0.6);
  -webkit-animation: rotar 2s -0.5s linear infinite;
          animation: rotar 2s -0.5s linear infinite;
}
.hoja:before {
  box-shadow: inset 0 17.5px 0 rgba(0, 250, 250, 0.6), inset 17.5px 0 0 rgba(0, 200, 200, 0.6), inset 0 -17.5px 0 rgba(0, 150, 200, 0.6), inset -17.5px 0 0 rgba(0, 200, 250, 0.6);
  -webkit-animation: rotarIz 2s -0.5s linear infinite;
          animation: rotarIz 2s -0.5s linear infinite;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
            transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
            transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@-webkit-keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
            transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
            transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
            transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}





